<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="header-center">Patient data</h1>
        <div class="header-right">
            <a class="additional" href="/">Home</a>
            Patient name
        </div>
    </header>

    <div class="sidenav">
        <h2 class="h2-sidenav">Paradigme</h2>
        <a href="#" onclick="changeMainContent('home')">Mots défilants</a>
        <a href="#" onclick="changeMainContent('about')">Images statiques défilantes</a>
        <a href="#" onclick="changeMainContent('contact')">Images mouvantes défilantes</a>
        <input type="file" id="fileinput" class="cache" >

    </div>

    <main id="main-content" class="main-content">
        <script>
            function changeMainContent(section) {
                const mainContent = document.getElementById('main-content');
                let newContent = '';

                switch(section) {
                    case 'home':
                        newContent = `
                            <h2>Paradigme pour les mots défilants</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Liste de mots pour le paradigme</h3>
                                    <input type="text" id="words" placeholder="par exemple: Pomme, voiture, matin,...">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput').click()">Choisir un fichier</button>
                                </div>
                                <div class="input-container">
                                    <h3>Activer le Zoom</h3>
                                    <input type="checkbox" id="zoom" class="color-green">
                                </div>
                            </div>
                            <button class="submit" onclick="submitForm()">Submit</button>
                        `;
                        break;
                    case 'about':
                        newContent = `
                            <h2>Paradigme pour les images statiques défilantes</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration1" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput').click()">Choisir un fichier</button>
                                </div>
                            </div>
                            <button class="submit" onclick="Submitimage()">Submit</button>
                        `;
                        break;
                    case 'contact':
                        newContent = `
                            <h2>A faire</h2>
                        `;
                        break;
                    default:
                        newContent = `
                            <h2>Bienvenue</h2>
                            <p>Cliquez sur les éléments de la barre latérale pour changer ce contenu.</p>
                        `;
                }

                mainContent.innerHTML = newContent;
            }

        function submitForm() {
            const duration = document.getElementById('duration').value || 'Non spécifié';
            const words = document.getElementById('words').value || 'Non spécifié';
            const zoom = document.getElementById('zoom').checked ? 'Activé' : 'Désactivé';
            const fileInput = document.getElementById('fileinput');
            let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.

            // Envoyer les données au serveur
            fetch('/submit-data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    duration: duration,
                    words: words,
                    zoom: zoom,
                    filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Données envoyées avec succès!');
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function Submitimage(){
            const duration = document.getElementById('duration1').value || 'Non spécifié';
            const fileInput = document.getElementById('fileinput');
            let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.

            // Envoyer les données au serveur
            fetch('/submit-images', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    duration: duration,
                    filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Données envoyées avec succès!');
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        </script>
    </main>
</body>
</html>
