<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <h1 class="header-center">Ion's Psychopy</h1>
        <div class="header-right">
            <button class ="navbutton"  onclick="document.getElementById('fileinput').click()">Starting text</button>
            <button id="serialport" class="navbutton">Serial Port</button>
            <button id="openPopup" class="navbutton">Change of Patient</button>
            <span id="patientName">Patient ID</span>
        </div>
    </header>

    <div class="overlay" id="popupSerial" style="display: none;">
        <span class="close-btn" onclick="closePopup('popupSerial')">&times;</span>
        <div class="popup">
            <h4 style="color: #0c0b0b">Configuration du port</h4>
            <div class="input-overlay">
                <div class="input-group" >
                    <input class ="checkbox_style" type="checkbox" id="option1" value="Option1">
                    <span class="checkbox_input"> Activation </span>
                </div>
                <div class="input-overlay-container">
                    <span>Nom du port</span>
                    <input type="text" placeholder="ex: COM3" id="port">
                </div>

                <div class="input-overlay-container">
                    <span>Speed(baud)</span>
                    <input type="text" placeholder="ex: 9600" id="baudrate">
                </div>

                <div class="input-overlay-container">
                    <span>Caractère pour lancer</span>
                    <input type="text" placeholder="ex: s" id="trigger">
                </div>
            </div>
            <button onclick="submitPort()" class="submit">Submit</button>
        </div>
    </div>

    <div class="overlay" id="popupOverlay" style="display: none;">
        <div class="popup">
            <span class="close-btn" onclick="closePopup('popupOverlay')">&times;</span>
            <h4 style="color: #0c0b0b">Identifiant du patient</h4>
            <input type="text" placeholder="Entrez votre texte" id="patientInput">
            <button onclick="submitPopup()" class="submit">Submit</button>
        </div>
    </div>

    <div class="sidenav">
        <h2 class="h2-sidenav">Paradigme</h2>
        <a href="#" onclick="changeMainContent('home')">Mots défilants</a>
        <a href="#" onclick="changeMainContent('about')">Images statiques défilantes</a>
        <a href="#" onclick="changeMainContent('contact')">Images mouvantes défilantes</a>
        <a href="#" onclick="changeMainContent('long_text')">Adjectifs positifs/négatifs</a>
        <a href="#" onclick="changeMainContent('emo_faces_nav')">EMO faces</a>
        <a href="#" onclick="changeMainContent('emo_voice_nav')">EMO voices</a>
        <a href="#" onclick="changeMainContent('stroop')">Stroop</a>
        <a href="#" onclick="changeMainContent('localizer')">Localizer</a>
        <a href="#" onclick="changeMainContent('cyberball')">Cyberball</a>
        <a> </a>


        <input type="file" id="fileinput" class="cache">
        <input type="file" id="fileinput-image" class="cache">
        <input type="file" id="fileinput-video" class="cache">
        <input type="file" id="fileinput-adjectifs" class="cache">
        <input type="file" id="fileinput-emo-face" class="cache">
        <input type="file" id="fileinput-stroop" class="cache">
        <input type="file" id="fileinput-emo-voice" class="cache">
        <input type="file" id="fileinput-cyberball" class="cache">
        <input type="file" id="launching_text" class="cache">



        <span id="resultPort"class="cache">Patient</span>
        <span id="resultBaudrate"class="cache">-1</span>
        <span id="resultTrigger" class="cache">s</span>




    </div>

    <main id="main-content" class="main-content">
        <script>
            function changeMainContent(section) {
                const mainContent = document.getElementById('main-content');
                let newContent = '';

                switch(section) {
                    case 'home':
                        newContent = `
                            <h2>Paradigme pour les mots défilants</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Liste de mots pour le paradigme</h3>
                                    <input type="text" id="words" placeholder="par exemple: Pomme, voiture, matin,...">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput').click()">Choisir un fichier</button>
                                </div>
                                <div class="input-container">
                                    <h3>Pourcentage de zoom</h3>
                                    <input id="zoom" type="text" placeholder="par exemple: 30" style="margin-top: 28px">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <button class="submit" onclick="submitText()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;
                    case 'about':
                        newContent = `
                            <h2>Paradigme pour les images statiques défilantes</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration-image" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Durée entre les stimuli</h3>
                                    <input type="text" id="betweenstimuli" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput-image').click()">Choisir un fichier</button>
                                </div>
                                <div class="input-container">
                                    <h3>Pourcentage de zoom</h3>
                                    <input id="zoom-image" type="text" placeholder="par exemple: 100">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <button class="submit" onclick="submitImages()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;
                    case 'contact':
                        newContent = `
                            <h2>Paradigme pour les stimuli vidéo</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration-video" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Durée entre les stimuli</h3>
                                    <input type="text" id="betweenstimuli-video" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput-video').click()">Choisir un fichier</button>
                                </div>
                                <div class="input-container">
                                    <h3>Pourcentage de zoom</h3>
                                    <input id="zoom-video" type="text" placeholder="par exemple: 50">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <button class="submit" onclick="submitVideos()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;

                    case 'long_text':
                        newContent = `
                            <h2>Paradigme pour les adjectifs positifs/négatifs</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration-adjectifs" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Durée croix de fixation</h3>
                                    <input type="text" id="betweenstimuli-adjectifs" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput-adjectifs').click()">Choisir un fichier</button>
                                </div>
                                <div class="input-container">
                                    <h3>Pourcentage de zoom</h3>
                                    <input id="zoom-adjectifs" type="text" placeholder="par exemple: 50">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Nombre de blocks d'entrainement</h3>
                                    <input type="text" id="number_of_blocks-entrainement" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Nombre de blocks</h3>
                                    <input type="text" id="number_of_blocks" placeholder="par exemple: 30">
                                </div>
                                <div class="input-container">
                                    <h3>Nombre de stimuli par block</h3>
                                    <input type="text" id="number_per_blocks-adjectifs" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3></h3>
                                    <button class="submit" onclick="submitAdjectifs()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;


                    case 'emo_faces_nav':
                        newContent = `
                            <h2>Paradigme pour les visages avec des émotions</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration-emo-face" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Durée entre les stimuli</h3>
                                    <input type="text" id="betweenstimuli-emo-face" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput-emo-face').click()">Choisir un fichier</button>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <button class="submit" onclick="submitFaces()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;

                    case 'emo_voice_nav':
                        newContent = `
                            <h2>Paradigme pour les voix avec intonation</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration-emo-voice" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Durée entre les stimuli</h3>
                                    <input type="text" id="betweenstimuli-emo-voice" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput-emo-voice').click()">Choisir un fichier</button>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <button class="submit" onclick="submitVoices()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;

                    case 'stroop':
                        newContent = `
                            <h2>Paradigme pour les mots de couleurs</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration-stroop" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Durée entre les stimuli</h3>
                                    <input type="text" id="betweenstimuli-stroop" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner un paradigme déjà existant</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput-stroop').click()">Choisir un fichier</button>
                                </div>
                                <div class="input-container">
                                    <h3>Pourcentage de zoom</h3>
                                    <input id="zoom-stroop" type="text" placeholder="par exemple: 50">
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Choisir la langue</h3>
                                    <select id="choice" name="choix">
                                        <option value="Anglais">Anglais</option>
                                        <option value="Dannois">Dannois</option>
                                        <option value="Francais">Français</option>
                                    </select>
                                </div>
                                <div class="input-container">
                                    <h3></h3>
                                    <button class="submit" onclick="submitStroop()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;

                    case 'localizer':
                        newContent = `
                            <h2>Paradigme pour les blocks d'images</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée en secondes des stimuli</h3>
                                    <input type="text" id="duration-localizer" placeholder="par exemple: 4">
                                </div>
                                <div class="input-container">
                                    <h3>Durée entre les stimuli</h3>
                                    <input type="text" id="betweenstimuli-localizer" placeholder="par exemple: 5">
                                </div>
                                <div class="input-container">
                                    <h3>Nombre de blocks</h3>
                                    <input type="text" id="number_of_blocks-localizer" placeholder="par exemple: 3">
                                </div>
                                <div class="input-container">
                                    <h3>Nombre de stimuli par block</h3>
                                    <input type="text" id="number_per_block-localizer" placeholder="par exemple: 5">
                                </div>
                            </div>
                            <div class="input-group">

                                <div class="input-container">
                                    <button class="submit" onclick="submitLocalizer()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;


                    case 'cyberball':
                        newContent = `
                            <h2>Cyberball (paramètre pour l'ordinateur)</h2>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Nom du patient</h3>
                                    <input type="text" id="patient_name" placeholder="par exemple: Paul">
                                </div>
                                <div class="input-container">
                                    <h3>Durée de la première phase</h3>
                                    <input type="text" id="phase1-cyberball" placeholder="par exemple: 120">
                                </div>
                                <div class="input-container">
                                    <h3>Durée phase d'exclusion</h3>
                                    <input type="text" id="exclusion-cyberball" placeholder="par exemple: 120">
                                </div>
                                <div class="input-container">
                                    <h3>Sélectionner la photo du patient</h3>
                                    <button class="button-choice" onclick="document.getElementById('fileinput-cyberball').click()">Choisir un fichier</button>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-container">
                                    <h3>Durée phase de Transition</h3>
                                    <input type="text" id="transition-cyberball" placeholder="par exemple: 60">
                                </div>
                                <div class="input-container">
                                    <h3>Temps de réaction minimum</h3>
                                    <input type="text" id="minimum-reaction" placeholder="par exemple: 0.8">
                                </div>
                                <div class="input-container">
                                    <h3>Temps de réaction maximum</h3>
                                    <input type="text" id="maximum-reaction" placeholder="par exemple: 2.5">
                                </div>

                                <div class="input-container">
                                    <h3> </h3>
                                    <button class="submit" onclick="submitCyberball()">Submit</button>
                                </div>
                            </div>
                        `;
                        break;



                    default:
                        newContent = `
                            <h2>Bienvenue</h2>
                            <p>Cliquez sur les éléments de la barre latérale pour changer ce contenu.</p>
                        `;
                }

                mainContent.innerHTML = newContent;
            }


            function openPopup(name) {
                document.getElementById(name).style.display = 'flex';
            }

            function submitPort(){
                var baudrate = document.getElementById("baudrate").value;
                var port = document.getElementById("port").value;
                var realtrigger = document.getElementById("trigger").value;
                document.getElementById("resultPort").textContent = port;
                document.getElementById("resultBaudrate").textContent = baudrate;
                document.getElementById("resultTrigger").textContent = realtrigger;
                document.getElementById("popupSerial").style.display = 'none';
            }

            function submitPopup() {
                var input = document.getElementById('patientInput').value;
                document.getElementById('patientName').textContent = input; // Met à jour le nom du patient
                document.getElementById('popupOverlay').style.display = 'none'; // Ferme la pop-up
            }

            document.getElementById('openPopup').addEventListener('click', function() {
                openPopup('popupOverlay');
            });


            document.getElementById('serialport').addEventListener('click', function() {
                openPopup('popupSerial');
            });

            function closePopup(popupId) {
                document.getElementById(popupId).style.display = 'none';
            }

            function submitText() {
                const duration = document.getElementById('duration').value || 'Non spécifié';
                const words = document.getElementById('words').value || 'Non spécifié';
                const zoom = document.getElementById('zoom').value || 'Non spécifié';
                const fileInput = document.getElementById('fileinput');
                const output_file = document.getElementById('patientName').textContent;
                let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.
                const activation = document.getElementById("option1").checked;

                let port = document.getElementById('resultPort').textContent.trim();
                let baudrate = document.getElementById('resultBaudrate').textContent;
                let trigger = document.getElementById('resultTrigger').textContent.trim();

                if (baudrate === "" || port === "") {
                    baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                    port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
                }

                if (trigger === ""){
                    trigger = "s"
                }

                if (!fileName && words=='Non spécifié'){
                    alert('Veuillez sélectionner un fichier ou entrer des mots avant de soumettre.');
                    return;
                }

                // Envoyer les données au serveur
                fetch('/submit-text', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        duration: duration,
                        words: words,
                        zoom: zoom,
                        output_file: output_file,
                        port: port,
                        activation: activation,
                        baudrate: baudrate,
                        trigger: trigger,
                        filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }

        function submitVoices(){
                const duration = document.getElementById('duration-emo-voice').value || 'Non spécifié';
                const betweenstimuli = document.getElementById('betweenstimuli-emo-voice').value || 'Non spécifié';
                const fileInput = document.getElementById('fileinput-emo-voice');
                const output_file = document.getElementById('patientName').textContent;
                let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.
                const activation = document.getElementById("option1").checked;

                let port = document.getElementById('resultPort').textContent.trim();
                let baudrate = document.getElementById('resultBaudrate').textContent;
                let trigger = document.getElementById('resultTrigger').textContent.trim();

                if (baudrate === "" || port === "") {
                    baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                    port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
                }

                if (trigger === ""){
                    trigger = "s"
                }

                if (!fileName){
                    alert('Veuillez sélectionner un fichier ou entrer des mots avant de soumettre.');
                    return;
                }

                // Envoyer les données au serveur
                fetch('/submit-emo-voice', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        duration: duration,
                        betweenstimuli: betweenstimuli,
                        output_file: output_file,
                        port: port,
                        activation: activation,
                        baudrate: baudrate,
                        trigger: trigger,
                        filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        function submitFaces() {
                const duration = document.getElementById('duration-emo-face').value || 'Non spécifié';
                const betweenstimuli = document.getElementById('betweenstimuli-emo-face').value || 'Non spécifié';
                const fileInput = document.getElementById('fileinput-emo-face');
                const output_file = document.getElementById('patientName').textContent;
                let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.
                const activation = document.getElementById("option1").checked;

                let port = document.getElementById('resultPort').textContent.trim();
                let baudrate = document.getElementById('resultBaudrate').textContent;
                let trigger = document.getElementById('resultTrigger').textContent.trim();

                if (baudrate === "" || port === "") {
                    baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                    port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
                }

                if (trigger === ""){
                    trigger = "s"
                }
                if (!fileName){
                    alert('Veuillez sélectionner un fichier ou entrer des mots avant de soumettre.');
                    return;
                }

                alert(activation)

                // Envoyer les données au serveur
                fetch('/submit-emo-faces', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        duration: duration,
                        betweenstimuli: betweenstimuli,
                        output_file: output_file,
                        port: port,
                        activation: activation,
                        baudrate: baudrate,
                        trigger: trigger,
                        filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }

            function submitStroop(){
                const duration = document.getElementById('duration-stroop').value || 'Non spécifié';
                const betweenstimuli = document.getElementById('betweenstimuli-stroop').value || 'Non spécifié';
                const fileInput = document.getElementById('fileinput-stroop');
                const zoom = document.getElementById('zoom-stroop').value || 'Non spécifié';
                const output_file = document.getElementById('patientName').textContent;
                const choice = document.getElementById('choice').value || 'Non spécifié'
                let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.
                const activation = document.getElementById("option1").checked;

                let port = document.getElementById('resultPort').textContent.trim();
                let baudrate = document.getElementById('resultBaudrate').textContent;
                let trigger = document.getElementById('resultTrigger').textContent.trim();

                if (baudrate === "" || port === "") {
                    baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                    port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
                }

                if (trigger === ""){
                    trigger = "s"
                }


                alert(choice)
                if (!fileName){
                    alert('Veuillez sélectionner un fichier ou entrer des mots avant de soumettre.');
                    return;
                }

                // Envoyer les données au serveur
                fetch('/submit-stroop', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        duration: duration,
                        betweenstimuli: betweenstimuli,
                        zoom: zoom,
                        choice: choice,
                        output_file: output_file,
                        port: port,
                        activation: activation,
                        baudrate: baudrate,
                        trigger: trigger,
                        filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }

            function submitLocalizer(){
                const duration = document.getElementById('duration-localizer').value || 'Non spécifié';
                const betweenstimuli = document.getElementById('betweenstimuli-localizer').value || 'Non spécifié';
                const output_file = document.getElementById('patientName').textContent;
                const blocks = document.getElementById("number_of_blocks-localizer").value || 'Non spécifié';
                const per_blocks = document.getElementById("number_per_block-localizer").value || 'Non spécifié';
                const activation = document.getElementById("option1").checked;

                let port = document.getElementById('resultPort').textContent.trim();
                let baudrate = document.getElementById('resultBaudrate').textContent;
                let trigger = document.getElementById('resultTrigger').textContent.trim();

                if (baudrate === "" || port === "") {
                    baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                    port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
                }

                if (trigger === ""){
                    trigger = "s"
                }


                // Envoyer les données au serveur
                fetch('/submit-localizer', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        duration: duration,
                        betweenstimuli: betweenstimuli,
                        port: port,
                        activation: activation,
                        baudrate: baudrate,
                        trigger: trigger,
                        blocks: blocks,
                        per_blocks: per_blocks,
                        output_file: output_file
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }


            function submitAdjectifs() {
                const duration = document.getElementById('duration-adjectifs').value || 'Non spécifié';
                const betweenstimuli = document.getElementById('betweenstimuli-adjectifs').value || 'Non spécifié';
                const fileInput = document.getElementById('fileinput-adjectifs');
                const blocks = document.getElementById("number_of_blocks").value || 'Non spécifié';
                const entrainement_blocks = document.getElementById("number_of_blocks-entrainement").value || 'Non spécifié';
                const per_block = document.getElementById("number_per_blocks-adjectifs").value || 'Non spécifié';
                const zoom = document.getElementById('zoom-adjectifs').value || 'Non spécifié';
                const output_file = document.getElementById('patientName').textContent;
                let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.
                const activation = document.getElementById("option1").checked;

                let port = document.getElementById('resultPort').textContent.trim();
                let baudrate = document.getElementById('resultBaudrate').textContent;
                let trigger = document.getElementById('resultTrigger').textContent.trim();

                if (baudrate === "" || port === "") {
                    baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                    port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
                }

                if (trigger === ""){
                    trigger = "s"
                }

                if (!fileName){
                    alert('Veuillez sélectionner un fichier ou entrer des mots avant de soumettre.');
                    return;
                }

                // Envoyer les données au serveur
                fetch('/submit-adjectifs', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        duration: duration,
                        betweenstimuli: betweenstimuli,
                        blocks: blocks,
                        entrainement: entrainement_blocks,
                        zoom: zoom,
                        per_block: per_block,
                        output_file: output_file,
                        port: port,
                        activation: activation,
                        baudrate: baudrate,
                        trigger: trigger,
                        filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }

        function submitCyberball(){
            const premiere_phase = document.getElementById('phase1-cyberball').value || 'Non spécifié';
            const exclusion = document.getElementById('exclusion-cyberball').value || 'Non spécifié';
            const transition = document.getElementById('transition-cyberball').value || 'Non spécifié';
            const fileInput = document.getElementById('fileinput-cyberball');
            const patient_name = document.getElementById('patient_name').value || 'Non spécifié';
            const output_file = document.getElementById('patientName').textContent;
            const minimum = document.getElementById('minimum-reaction').value || 'Non spécifié';
            const maximum = document.getElementById('maximum-reaction').value ||'Non spécifié';
            let trigger = document.getElementById('resultTrigger').textContent;
            let fileName = fileInput.value.split('\\').pop();
            if (!fileName) {
                alert('Veuillez sélectionner un fichier avant de soumettre.');
                return;  // Arrête l'exécution si aucun fichier n'est sélectionné
            }

            if (trigger == "Patient"){
                trigger = "s"
            }

            fetch('/submit-cyberball', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    premiere_phase: premiere_phase,
                    exclusion: exclusion,
                    transition: transition,
                    minimum: minimum,
                    patient_name: patient_name,
                    maximum: maximum,
                    trigger: trigger,
                    output_file: output_file,
                    filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });

        }

        function submitImages(){
            const duration = document.getElementById('duration-image').value || 'Non spécifié';
            const betweenstimuli = document.getElementById('betweenstimuli').value || 'Non spécifié';
            const fileInput = document.getElementById('fileinput-image');
            const zoom = document.getElementById('zoom-image').value || 'Non spécifié';
            const output_file = document.getElementById('patientName').textContent;
            let fileName = fileInput.value.split('\\').pop();
            const activation = document.getElementById("option1").checked;

            let port = document.getElementById('resultPort').textContent.trim();
            let baudrate = document.getElementById('resultBaudrate').textContent;
            let trigger = document.getElementById('resultTrigger').textContent.trim();

            if (baudrate === "" || port === "") {
                baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
            }

            if (trigger === ""){
                trigger = "s"
            }


            if (!fileName) {
                alert('Veuillez sélectionner un fichier avant de soumettre.');
                return;  // Arrête l'exécution si aucun fichier n'est sélectionné
            }

            // Envoyer les données au serveur
            fetch('/submit-images', {
                method: 'POST',
                headers: {
                    'Cotntent-Type': 'application/json',
                },
                body: JSON.stringify({
                    duration: duration,
                    betweenstimuli: betweenstimuli,
                    zoom: zoom,
                    output_file: output_file,
                    port: port,
                    activation: activation,
                    baudrate: baudrate,
                    trigger: trigger,
                    filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        function submitVideos(){
            const duration = document.getElementById('duration-video').value || 'Non spécifié';
            const betweenstimuli = document.getElementById('betweenstimuli-video').value || 'Non spécifié';
            const fileInput = document.getElementById('fileinput-video');
            const zoom = document.getElementById('zoom-video').value || 'Non spécifié';
            const output_file = document.getElementById('patientName').textContent;
            let fileName = fileInput.value.split('\\').pop();  // Cela extraira uniquement le nom du fichier.
            const activation = document.getElementById("option1").checked;

            let port = document.getElementById('resultPort').textContent.trim();
            let baudrate = document.getElementById('resultBaudrate').textContent;
            let trigger = document.getElementById('resultTrigger').textContent.trim();

            if (baudrate === "" || port === "") {
                baudrate = -1; // Garder les valeurs comme chaîne pour la consistance
                port = 'Patient'; // Remplacer 'Patient' avec une valeur appropriée
            }

            if (trigger === ""){
                trigger = "s"
            }

            if (!fileName) {
                alert('Veuillez sélectionner un fichier avant de soumettre.');
                return;  // Arrête l'exécution si aucun fichier n'est sélectionné
            }

            if (trigger=="Patient"){
                trigger="s"
            }
            // Envoyer les données au serveur
            fetch('/submit-videos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    duration: duration,
                    betweenstimuli: betweenstimuli,
                    zoom: zoom,
                    output_file: output_file,
                    port: port,
                    activation: activation,
                    baudrate: baudrate,
                    trigger: trigger,
                    filePath: fileName // Envoyer la valeur de l'input de fichier comme un simple string
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        </script>
    </main>
</body>
</html>
